

.section-listing {
    width: 100%;
    height: auto;
    margin-top: 60px;
    padding: 60px 5vw;
}

.section-title {
	text-transform: capitalize;
	font-size: 30px;
	margin-bottom: 30px;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	height: 300px;
	overflow: hidden;
	position: relative;
	background: var(--lightgold);
    width: 30%;
    margin: 20px;
    border: 10px solid #f2f2f2 !important;
}

.product-card:nth-child(even){
	border-color: var(--dimgray);
	background: var(--dimgray);
}

.product-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-card:hover .product-price {
	opacity: 1;
}

.product-card:hover .product-img {
	opacity: 0.5;
}

.product-price {
    position: absolute;
    font-family: 'Poppins',sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    text-transform: capitalize;
    font-size: 50px;
    opacity: 0;
    transition: .5s;
}